.space-6 {
    margin: 6px 0 5px;
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
}

.space-10 {
    margin: 12px 0 10px;
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
}

.space-15 {
    margin: 15px 0 12px;
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
}

.space-20 {
    margin: 20px 0 18px;
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
}

.space-30 {
    margin: 30px 0 25px;
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
}
